@import "../mixins.less";
@import "../colors.less";

.basic-input {
	display: inline-block;
	position: relative;

	margin: 0 0 -100px 0;

	input {
		&[type=text], &[type=email], &[type=password], &[type=url] {
			.slidelink;
			display: inline-block;
			background-color: transparent;

			width: 100%;

			border-style: dotted;
			border-width: 0 0 1px 0;
			border-color: #888;
			line-height: 40px;
			

			font-size: 14px;
			letter-spacing: 2px;

			&::placeholder {
				//text-transform: uppercase;
				font-size: 12px;
				color: gray;
			}

			&:focus {
				border-style: solid;
				outline: none;
				//border-color: @blue;
				border-color: @almostBlack;
			}
		}
	}
}

&.error {
		input {
			border-color: @red;
			&:focus {
				border-color: @red;
			}
		}

		aside {
			border-color: @red;
			color: @red;
			font-weight: 600;
		}
	}

	aside {
		position: absolute;
		right: 0;
		font-size: 11px;
		float: right;
		line-height: 16px;
		color: @almostBlack;
	}

	
