@import "../colors.less";
@import "../mixins.less";


.home {

	margin-right: 100px;
	margin-left: 60px;	
	background-color: white;
   
	h1 {
		float: center;
		margin-bottom: 50px;


		font-size: 40px;
		text-align: center;
		text-transform: uppercase;


		font-weight: 600;
		letter-spacing: 2px;

		// override link styles for home link
		color: black;
		&:hover, &:active, &:visited {
			color: black;
		}
	} 

	h2 {
		float: center;
		margin-bottom: 50px;


		font-size: 40px;
		text-align: center;
	//	text-transform: uppercase;


		font-weight: 300;
		letter-spacing: 2px;

		// override link styles for home link
		color: black;
		&:hover, &:active, &:visited {
			color: black;
		}
	} 


	section.account-ctrl {
		float: right;


		a {
			color: @blue;
			.slidelink(@blue);
			display: inline-block;
			font-size: 12px;
 
			font-weight: 400;
			letter-spacing: 1px;
			text-transform: uppercase;

			&:focus {
				outline: none;
			}
		}
	}
}

.gallery {
	display: inline-block;
	width: 600px;
	height:400px;
	margin-right:0px;
	margin-left: 0px;
	margin-top: 0px;
  }
  
  .big {
	width: 496px;
	height: 496px;
	margin-bottom: 25px;
  }
  
  .beside {
	width: 596px;
	height: 396px;
	border: 1px solid #ccc;
  }
  
  .high {
	float: left;
	width: 246px;
	height: 496px;
  }
  
  .small {
	width: 246px;
	height: 246px;
	margin-bottom: 25px;
  }

