.slidelink(@color: #000) {
	text-decoration: none;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: @color;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.15s ease-in-out 0s;
	}

	&:hover:before,
	&:focus:before {
		visibility: visible;
		transform: scaleX(1);
	} 
}